<!DOCTYPE html>
<html>
  <head>
    <title>TextMarvelCombatArena</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
  <footer><a href="http://marvel.com">Data provided by Marvel. © 2019 MARVEL</a></footer>
</html>
